@import "@/styles/typografy.scss";

.secondary_btn {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 43px;
  left: 30px;

  text-decoration: none;
  color: $White;

  padding: 7px 20px;

  z-index: 2;
}

.secondary_btn__title {
  @include p_big;
}

.secondary_btn:hover {
  text-decoration: none;
  border-radius: 50px;
  background-color: $Green400;
}

.secondary_btn:active {
  border-radius: 50px;
  background: $Orange200 !important;
}

@media (max-width: 475px) {
  .secondary_btn {
    padding: 0;
    left: 25px;
    bottom: 26.5px;
  }
}
